{{ define "content" }}
<div class="columns is-centered">
  <div class="column is-4">
    <h1 class="title">Iniciar sesión</h1>
    <form method="POST" action="/login">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Contraseña</label>
        <div class="control">
          <input class="input" type="password" name="password" required>
        </div>
      </div>
      <div class="field is-grouped is-justify-content-flex-end">
        <p class="control">
          <button class="button is-primary" type="submit">Entrar</button>
        </p>
      </div>
    </form>
  </div>
</div>
{{ end }}
``